.container {
    position: relative;

    @media screen and (max-width: 767px) {
        grid-row: 1 / 2;
    }

    .card {
        z-index: 99;
        position: sticky;
        top: 6.3rem;
        border-radius: 5px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 1rem;

        color: #fff;

        background: #93C5FD;

        .profile {
            font-size: 10rem;

            @media screen and (max-width: 767px) {
                font-size: 7rem;
            }
        }

        .name {
            margin-bottom: 30px;
        }

        .item {
            padding: 5px 0;
            display: flex;
            align-items: center;

            svg {
                margin-right: 7px;
            }
        }

        .totalList {
            width: 100%;

            .total {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 0;

                span {
                    display: flex;
                    align-items: center;
                }


                &:last-child {
                    margin-top: 10px;
                    border-top: 1px #fff solid;
                }
            }
        }

        .payBtn{
            margin-top: 2rem;
            border: none;
            outline: none;
            padding: 10px 0;
            background-color: #fff;
            color: #93C5FD;
            width: 100%;
            border-radius: 5px;
        }
    }
}