.productList {
    margin: auto;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    max-width: 1200px;
    width: 100%;
    row-gap: 2rem;
    column-gap: 3rem;
}