.card {
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: 5px;

    .img {
        width: 100%;
    }

    .body {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}