.card{
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px #bbbbbb;
    transition: all .3s ease;
    cursor: pointer;

    .img{
        width: 100%;
    }

    .header{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
            font-size: 1.2rem;
        }
    }


    &:hover{
    box-shadow: 0 2px 15px #999999;
    }
}